:root{
    /* color */
    --color-default: black;
    --color-dropshadow: rgba(0, 0, 0, 0.50);

    /* padding */
    --padding-default: 4dvh;
    --padding-leftright: 12dvw;

    /* font properties */
    font-family: "JMH Typewriter";
    --font-size-default: clamp(1rem, 1.5vw + 1rem, 3rem);
    --font-size-accent: clamp(1rem, 5.5vw + 1rem, 8rem);

    --font-weight-default: 250;
    --font-weight-accent: 700;
}

*, *::before, *::after {
    /* all HTML tags have own padding&margin, thus We should remove it */
    margin: 0; padding: 0;
}

body {
    padding: 0 var(--padding-leftright) 0 var(--padding-leftright);

    background-image: url("../images/bg.avif");
    background-attachment: fixed;
    background-size: cover;
}

.header-stickyContainer {
    position: sticky; top: 0;
    background: inherit;

    .header-topPartContainer, .header-bottomPartContainer {
        padding-top: var(--padding-default);

        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        & a {
            text-decoration: none; color: var(--color-default);
            font-size: var(--font-size-default);
            font-weight: var(--font-weight-default);
        }

        #pageName {
            font-size: var(--font-size-accent);
            font-weight: var(--font-weight-accent);
        }

        #copyIcon {
            width: calc((10/24)*var(--font-size-accent));
        }
    }

    .emptySpaceContainer {
        padding-bottom: var(--padding-default);
    }
}

.content-scrollableContainer {
    content-visibility: auto;
    #content {
        text-align: justify;
        font-size: var(--font-size-default);
        font-weight: var(--font-weight-accent);
    }
}

.footer-stickyContainer {
    position: sticky; bottom: 0;
    width: inherit; height: calc(2*var(--padding-default));
    background: inherit;
}

a, img {
    &:hover{
        cursor: pointer;
        filter: drop-shadow(0px 5px 5px var(--color-dropshadow));
    }
}

.hidden {
    content-visibility: hidden;
}