:root{
    /* padding */
    --default-padding: 4dvh;
    --leftright-padding: 12dvw;

    /* font properties */
    font-family: "JMH Typewriter";
    --header-top-font-size: clamp(1rem, 1vw + 1rem, 3rem);
    --header-top-font-weight: 250;
    --header-bottom-font-size: clamp(1rem, 5.5vw + 1rem, 8rem);
    --header-bottom-font-weight: 700;
    --content-font-size: clamp(1rem, 1.5vw + 1rem, 3rem);
    --content-font-weight: 700;
}

*, *::before, *::after {
    /* all HTML tags have own padding&margin, thus We should remove it */
    margin: 0; padding: 0;
}

body {
    padding: 0 var(--leftright-padding) 0 var(--leftright-padding);

    background-image: url("../images/bg.png");
    background-attachment: fixed;
    background-size: cover;
}

.header-sticky-container {
    position: sticky; top: 0;
    background: inherit;
    .header-top, .header-bottom {
        padding-top: var(--default-padding);

        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        & a {
            text-decoration: none; color: black;
            font-size: var(--header-top-font-size);
            font-weight: var(--header-top-font-weight);
        }
        #pagename {
            font-size: var(--header-bottom-font-size);
            font-weight: var(--header-bottom-font-weight);
        }
        #copyicon {
            width: calc((10/24)*var(--header-bottom-font-size));
        }
    }
    .empty-space-container {
        padding-bottom: var(--default-padding);
    }
}

.content-scrollable-container {
    text-align: justify;
    font-size: var(--content-font-size);
    font-weight: var(--content-font-weight);
}

.footer-sticky-container {
    position: sticky; bottom: 0;
    width: inherit; height: calc(2*var(--default-padding));
    background: inherit;
}
